<!DOCTYPE HTML>
<html style="background: #e8e8e8;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center"
       style="border:none;border-collapse:collapse; background: #e8e8e8;font-family:Arial,sans-serif;"
       bgcolor="rgba(232, 232, 232, 0.88)">
    <tr>
        <td width="50%">
        </td>
        <td>
            <br/>
            <!-- #1 -->
            <table cellpadding="0" cellspacing="0" border="0" width="600" align="center"
                   style="border: 1px solid #dedede;border-collapse:collapse; background: #ffffff;" bgcolor="#ffffff">
                <tr>
                    <td style="border:none;">
                        <!--<br>-->
                        <!-- #header-end-wrapper -->
                        <!-- #HEADER -->
                        <!-- CONTENT -->
                        <table width="590" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center"
                               style="margin: 0px;
    width: 100%;">
                            <tr>
                                <td height="37" valign="middle"
                                    style="height: 37px; border-bottom-color: #d6d6d6; border-bottom-width: 1px; border-bottom-style: solid; vertical-align: middle;background:rgb(65, 132, 243);;font-family:tahoma,arial,sans-serif;">
                                    <span align="center"
                                          style="font-weight: bold; font-size: 14px; margin: 0; padding: 0; color: white; text-align: center;">
                                        <center>Спасибо за регистрацию</center></span>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <table width="590" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center"
                               bgcolor="#ffffff">
                            <tr>
                                <td style="border:none; padding:5px 10px; margin:0px;">
                                    <span style="text-align:left; font-size: 13px;  color: #000000; line-height:16px; font-family: Tahoma, Arial, sans-serif;text-transform: capitalize;">
                                        Здравствуйте, {{user.customer.firstname}}!</span>
                                    <br><br>

                                </td>
                            </tr>
                        </table>

                        <br/>
                        <table width="590" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center"
                               bgcolor="#ffffff">
                            <tr>
                                <td style="border:none; padding:5px 10px; margin:0px;">
			<span style="text-align:left; font-size: 13px;  color: #000000; line-height:16px; font-family: Tahoma, Arial, sans-serif;">
				Мы рады ответить на Ваши вопросы по электронной почте <a
                    href="mailto:test@nbakaev.ru">test@nbakaev.ru</a>
			</span>
                                    <br><br>
			<span style="text-align:left; font-size: 13px;  color: #000000; line-height:16px; font-family: Tahoma, Arial, sans-serif;">
				С уважением,<br/>Команда hishop.
			</span>
                                </td>
                            </tr>
                        </table>
                        <!-- #CONTENT -->
                        <br/>
                    </td>
                </tr>
            </table>
            &nbsp;<br/>
            <br/>
        </td>
        <td width="50%">
        </td>
    </tr>

</table>

</body>
</html>
<!-- #FOOTER -->