{{user.customer.firstname}}, вы купили следующие товары:

<table>
    <tr>
        <td>Название</td>
        <td>Описание</td>
        <td>Количество</td>
    </tr>

    {{#each goods}}
        <tr>
            <td> {{ good.name }} </td>
            <td> {{ good.description}} </td>
            <td> {{ number}} </td>
        </tr>
    {{/each}}

</table>